header {
  .nav-link.clickable {
    cursor: pointer;
  }

  .middle-bar {
    background-color: var(--main);
  }

  #top-bar {
    position: relative;

    .brand {
      width: 100px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  }

  .brand {
    width: 100px;
    cursor: pointer;
  }

  .bottom-bar {
    background-color: var(--main);
  }

  .cart-icon {
    cursor: pointer;
  }

  .cart {
    position: relative;
    margin: 0 20px;
  }

  .mid-cart-count {
    color: #fff;
  }

  .top-cart-count {
    color: inherit;
  }

  .mid-cart-count,
  .top-cart-count {
    font-weight: 700;
    position: absolute;
    z-index: 3;
    right: 51px;
    transform: translate(50%, 50%);
  }
}
