.checkout-page {
  padding: 20px 15px;

  h2,
  h3 {
    font-weight: 600;
  }

  h3 {
    font-size: 1.4rem;
  }

  .checkout-summary {
    font-size: 0.8rem;
  }

  .order-total {
    color: rgb(146, 83, 66);
    h4 {
      font-weight: 700;
    }
  }
}
