.checkout-page {
  padding: 20px 15px;

  h2,
  h3 {
    font-weight: 600;
  }

  h3 {
    font-size: 1.4rem;
  }

  .checkout-summary {
    font-size: 0.8rem;
  }

  .order-total {
    color: #8c1c13;
    h4 {
      font-weight: 700;
    }
  }

  .momo {
    cursor: pointer;
    position: relative;
    left: 0;
    transition-property: left;
    transition-duration: 0.3s;

    &:hover {
      left: 10px;
    }
  }

  .momo-window {
    max-width: 500px;
  }

  #collapseTwo {
    background-color: #eeeeee;
    padding: 10px;
  }
}
