.home-products-head {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.slick-next,
.slick-prev {
  width: 50px;
  height: 100px;
  background-color: rgb(231, 231, 231);
  color: black;
  border: 1px solid #e2e2e2;
  display: block;
  z-index: 2;

  &:before {
    content: "";
  }
  &:hover {
    background-color: rgb(228, 228, 228);
  }
}
